/* Estilo del contenedor de la lista */
.list-group {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}


.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s;
}


.list-group-item:hover {
  background-color: #b9a8bb;
}


.list-group-item.active {
  background-color: #8d3de8; 
}
