body{
    overflow-x: hidden;
    border-right: 5rem;
    padding-right: 2rem;
}

.titulo{
    color: #7D53B5;
    font-size: 36px;
}

.seccion-principal {
    position: relative;
    left: 150px;
    padding-top: 3rem;
}

.contenedor1{
    height: 30rem;
    width: 85%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #dfdfdf;
    columns: 2;
}

.left{
    display: flex;
    flex-direction: row;
    height: 90%;
    padding-left: 6rem;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    gap: 1rem;
}

.usuario{
    text-decoration: underline;
    font-style: italic;
    font-weight: 200;
}

#icono{
    height: 15rem;
    width: 15rem;
}