<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
</head>

<body>
    <app-nav></app-nav>

    <section class="seccion-principal">
        <h1 id="titulo">Notificaciones</h1>
        <br>
        <div class="contenedor">
                <!-- {
                    "id": 0,
                    "motivo": "ACOSO",
                    "comentario": "string",
                    "fechaRegistro": "2024-05-21T02:54:02.613Z",
                    "usuario_reportado": 0
                  } -->
            <ng-container *ngFor="let reporte of reportes; let i = index" >
                <div class="caja">
                    <p>{{reporte.id}}</p>
                    <p>{{reporte.motivo}}</p>
                    <h2>{{reporte.comentario}}</h2>
                    
                    <p>{{reporte.fechaRegistro}}</p>
                    <p>{{reporte.usuario_reportado}}</p>
                    <button>Bloquear usuario</button>
                    <button>Cancelar</button>
                </div>
            </ng-container>
            
        </div>
    </section>
</body>
</html>
