<body>
    <app-nav></app-nav>

    <section class="seccion-principal">
        <h1 id="titulo">Notificaciones</h1>
        <br>
        <div class="contenedor">
            <ng-container *ngFor="let reporte of reportes; let i = index" >
                <div class="caja">
                    <p>{{reporte.id}}</p>
                    <p>{{reporte.motivo}}</p>
                    <h2>{{reporte.comentario}}</h2>                    
                    <p>{{reporte.fechaRegistro}}</p>
                    <p>{{reporte.usuario_reportado}}</p>

                    <button (click)="bloquearUsuario()">Bloquear usuario</button>
                </div>
            </ng-container>
            
        </div>
    </section>
</body>