body {
  overflow-x: hidden;
  padding-right: 2rem;
}

#titulo {
  color: #7D53B5;
  font-size: 36px;
}

.seccion-principal {
  position: relative;
  left: 150px;
  padding-top: 3rem;
}

.contenedor {
  height: 29rem;
  width: 85%;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #dfdfdf;
  overflow-y: scroll;
}

.caja {
  display: flex;
  /* flex-direction: column;*/
  justify-content: space-around;
  align-items: center; 
  
  border-radius: 1rem;
  cursor: pointer;
  background-color: white;
  padding: 1rem;
  height: auto;
  width: 90%;
  margin: 1rem;
}
