<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>nav</title>
</head>
<body>
    <nav>
        <div class="left">
            <img src="../../assets/logo-nav.png" alt="Logo Digital Love" id="logo">
        </div>

        <div class="right">
            <input type="checkbox" id="check">
            <label for="check" class="checkBtn">
                <i class="fa fa-bars"></i>
            </label>
            <ul class="list">
                <li>
                  <a href="#">
                   option 1
                  </a>
                </li>
                <li>
                  <a href="#">
                    option2
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img id="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAAXNSR0IArs4c6QAAAehJREFUWEfNljFIVlEUx3//Jh0qyTa3IAShJZGMSIloanQKt4KWlhoEbZBAooYGg2iRmhoaGhskGsKIHKohWhpCaWjVyqaQf9+B9+Kl7/vefV/fQ8/43rn/3z3nnnvOFXto2kM2XcNtnwAGs82/k7RVN5DacNuTwG3gTAH2E3gILEj6lbqJWnDb14AHHcTfA+clfU/ZQDLc9kXgeYLoS0kXEvzSz9z2W2A8RRQYlfShyjcpctsHgR9VYoX/c5LuVvmnwo8BX6rECv8fS7pS5Z8KPwQkFVEGvNeq+pmewEOk5pmfk/Sql/DUal+RFL2g0pLSnqvYfgRc7qC6AZyUtF5JhvSrlqX+QNbdrgN9OwArwFVJn1PA4VMr8kIG+oFTcZ9bmfgKvJH0LRWa+3UFrwtp57//4bbHgClgAjjeGi5HS6L5DawBH7MZ8KxqwnWM3PYwsASc7SLV0ZRuSVqsnXbbUUwvgCNdgItL7kuK27HLSiPPIl4FBv4TnC+PR8b8Tq1dcNvx7RMw0iNwLnNaUgT018rg08CTHoND7rWkKNiO8HitRB9vwoaKzags8qjSGKFN2CVJT3Phf+C2o3dvN0HNNG9KutMOfhjYbBC+2HrZ3mgHj0k12yB8VdJyKbxBaKn0/h8sTWXkD4wUgyBhT1xEAAAAAElFTkSuQmCC"/>
                  </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>