<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>panel</title>
</head>

<body>
    <app-nav></app-nav>
    
    <section  class="seccion">
        <h1 id="titulo">Resumen</h1>
        <br><br>
        <div class="contenedor">
            <div class="caja">
                <h2>info</h2>
            </div>
            <br><br>
            <div class="caja">
                <h2>info</h2>
            </div>
            
            
        </div>        
    </section>


    
</body>
</html>