body {
  overflow-x: hidden;
  padding-right: 2rem;
}

#titulo {
  color: #7D53B5;
  font-size: 36px;
}

.seccion-principal {
  position: relative;
  left: 150px;
  padding-top: 3rem;
}

.contenedor {
  height: 27rem;
  width: 84%;
  margin-top: 3%;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 2rem;
  border-radius: 2rem;
  background-color: #dfdfdf;
}

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  background-color: white;
  height: 5rem;
  width: 75rem;
  margin: 1rem; /* Espaciado entre las cajas */
}
