body{
    overflow-x: hidden;
    border-right: 5rem;
    padding-right: 2rem;
}

.titulo{
    color: #7D53B5;
    font-size: 36px;
}

.seccion-principal {
    position: relative;
    left: 150px;
    padding-top: 3rem;
}

.contenedor{
    height: 28rem;
    width: 84%;
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    background-color: #dfdfdf;
}

table{
    background-color: white;
    width: 100%;
    height: 28rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}