*{
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0;
  overflow-x: hidden;
  padding-right: 2rem;
}

#titulo {
  color: #7D53B5;
  font-size: 36px;
}

.seccion-principal {
  position: relative;
  left: 150px;
  padding-top: 3rem;
}

.contenedor1{
  height: 32rem;
  width: 85%;
  padding-left: 3rem;
  border-radius: 2rem;
  background-color: #dfdfdf;
  overflow-y: scroll;
}